*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
}

body{

    font-family: "Poppins";
    font-size: 20px;
    background:url('https://source.unsplash.com/random');
    background-size: cover;
}

#main{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(30px);
    padding: 20px 50px;
    border-radius: 20px;
    color:white;
}

@media (max-width:425px){
    #div1{
        padding:10px 5px;
    }
}

input, button{
    font-size: 20px;
    margin:10px 0px;
}

@media (max-width:425px){
    input,button{
        font-size: 15px;
        margin:5px;
    }
}

input{
    background: rgba(0,0,0,0.1);
    color: white;
    border-radius: 10px;
    border:none;
    font-size: 30px;
    padding:10px 10px;
    text-align: center;
}

@media (max-width:425px){
    input{
        font-size: 20px;
        padding: 5px;
        width:253px;
    }
}


input::placeholder{
    color:white;
}

button{
    background: rgba(0,0,0,0.1);
    color: white;
    border-radius: 10px;
    border:none;
    font-size: 30px;
    width:385px;
    padding:10px 0px;
}

@media (max-width:425px){
    button{
        width:  253px;
        font-size: 20px;
    }   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}

  input[type=number] {
    -moz-appearance: textfield;
  }

#h1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

@media (max-width:425px){
    #h1{
        font-size: 18px;
        margin-bottom:15px;
    }   
}

#numberdisplay{
    width: 385px;
    text-align: center;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    padding: 30px;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(30px);
    margin: 20px;
}

@media (max-width:425px){
    #numberdisplay{
        width:253px;
        font-size: 25px;
        height:98px;
        
    }   
}
